/* Add styles here */
*{
    font-family: "Playfair Display", serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.megrim-regular {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    background-color: #212126;
}

/* lobby */
.lob{
    background-image: url("img/lob_bg.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: #212126;
    background-blend-mode: lighten;
    width: 100%;
    height: 100vh;
    background-position: center top 40%;
    align-content: center;
    text-align: center;
}


#start_btn{
  
    width: 16%;
    height: 65px;
    border: none;
    margin-top: 11%;
    background-color: #21212600;
    cursor: pointer;
    font-size: xx-large;
    font-family: "Black Ops One", system-ui;
    color: rgb(255, 118, 255);
}

#start_btn:hover{
    font-size: 50px;
    color: #ffff;
    transition: 300ms;
    text-shadow: 0 0 10px #f895cf, 0 0 20px #f895cf, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

/* index */
@font-face {
    font-family: 'Viyola';
    src: url('font/Viyola-qZ2jq.ttf') format('truetype');
}

.navbar{
    background-color: #53535362;
    display: flex;
    top: 0;
    align-items: center;
    padding: 20px 15px;
    position: sticky;
    border-bottom: 1px solid #ffff;
    box-shadow: 0 0 50px 0 #8888888a;
    z-index: 10;
    
}

.navbar>a{
    text-decoration: none;
}


.navbar>a>h2{
    font-family: "Megrim", system-ui;
    font-size: x-large;
    
}

.navbar>a>h2:hover{
    font-family: "Megrim", system-ui;
    color: #89d0ff;
    transition: 300ms;
    cursor: pointer;

}

.navbar>.links{
    margin-left: auto;
    display: flex;
    align-content: space-between;
}

.links>a{
    text-decoration: none;
    margin: 0px 15px;
}

.links>a:hover{
    color: rgb(137, 208, 255);
    transition: 300ms;
    cursor: pointer;
}

#name{
    font-family: 'Viyola', sans-serif;
    margin: auto;
    font-size: 500%;
    font-weight: 100;
}

.prof_content{
    margin-top: -5%;
    padding-top: 0;
    position: relative;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 800px;
    background-image: url("img/index_prof-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px #1d1d1d, 0 0 20px #141941, 0 0 30px #000000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#name, #desc {
    position: relative;
    z-index: 2; 
}


#next{
    background-image: url("img/dot1.png");
    background-color: #21212600;
    background-blend-mode: lighten;
    border: none;
    display: flex;
    width: 32px;
    height: 32px;
    cursor: pointer;

    position: absolute; 
    bottom: 15%; 
    left: 50%;
    z-index: 2;
    
}

#next:hover{
    background-image: url(img/dot.png);
    transition: 300ms;
    cursor: pointer;

    
}