
*{
    font-family: "Montserrat", serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.megrim-regular {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    background-color: #2a2a3b;
}

/* lobby */
.lob {
    background-image: url("img/lob_bg.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: #212126;
    background-blend-mode: lighten;
    width: 100%;
    height: 100vh;
    background-position: center top 40%;
    align-content: center;
    text-align: center;
}

#start_btn {
    margin-top: 11%;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

#start_btn:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}

#start_btn:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}


@media (max-width: 768px) { 
    .lob {
        background-size: 180%; 
        background-position: center top 50%;
    }

    #start_btn {
        font-size: 14px; 
        padding: 0.8em 2.5em; 
        margin-top: 0; 
    }
}

@media (max-width: 480px) { 
    .lob {
        background-size: 200%; 
        background-position: center top 60%;
    }

    #start_btn {
        font-size: 12px; 
        padding: 0.7em 2em; 
        margin-top: 15%; 
    }
}


/* navbar */
@font-face {
    font-family: 'mojangcraft';
    src: url('font/mojangcraft.ttf') format('truetype');
}

.navbar{
    background-color: #53535362;
    display: flex;
    top: 0;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    border-bottom: 1px solid #ffff;
    box-shadow: 0 0 50px 0 #8888888a;
    z-index: 10;
    
}

.navbar>a{
    text-decoration: none;
}


.navbar>a>h2{
    font-family: "Megrim", system-ui;
    font-size: x-large;
    
}

.navbar>a>h2:hover{
    font-family: "Megrim", system-ui;
    color: #89d0ff;
    transition: 300ms;
    cursor: pointer;

}

.navbar>.links{
    margin-left: auto;
    display: flex;
    align-content: space-between;
}

.links>a{
    text-decoration: none;
    margin: 0px 15px;
}

.links>a:hover{
    color: rgb(137, 208, 255);
    transition: 300ms;
    cursor: pointer;
}

@media (max-width: 480px) { 
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px 20px; 
        
    }

    .navbar > a > h2 {
        position: absolute; 
        top: 10px; 
        left: 50%; 
        transform: translateX(-50%); 
        font-size: medium; 
        margin-bottom: 0; 
        text-align: center;
        padding-top: 10px; 
    }

    .navbar > .links {
        margin-top: 60px; 
        width: 100%; 
        justify-content: space-between; 
    }

    .links > a {
        font-size: 12px; 
        margin: 0px 5px; 
    }
}


@media (max-width: 480px) { 
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px 20px; 
    }

    .navbar > a > h2 {
        font-size: medium; 
        margin-bottom: 10px; 
    }

    .navbar > .links {
        width: 100%; 
        justify-content: space-between; 
    }

    .links > a {
        font-size: 12px; 
        margin: 0px 5px; 
    }
}

/* prof */

#fname{
    font-family: 'mojangcraft', sans-serif;
    margin: auto;
    font-size: 400%;
    font-weight: 100;
}

#name{
    margin-top: -15px;
    font-size: 250%;
}

#desc{
    font-size: 130%;
}

.prof_content{
    margin-top: -5%;
    padding-top: 0;
    position: relative;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 800px;
    background-image: url("img/index_prof-bg.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px #1d1d1d, 0 0 20px #141941, 0 0 30px #000000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

#fname, #name, #desc {
    position: relative;
    z-index: 2; 
    font-weight: 200;
}


#next{
    background-image: url("img/dot1.png");
    background-color: #21212600;
    background-blend-mode: lighten;
    border: none;
    display: flex;
    width: 32px;
    height: 32px;
    cursor: pointer;

    position: absolute; 
    bottom: 15%; 
    left: 50%;
    z-index: 2;
    
}

#next:hover{
    background-image: url(img/dot.png);
    transition: 300ms;
    cursor: pointer;

    
}

/* skills */
.skills{
    margin: 10% 20%;
}

.card {
    width: 100%;
    height: 260px;
    border-radius: 5px;
    background: #1b1b27;
    display: flex;
    gap: 5px;
    padding: 10px;
    position: relative;
}

.card h2 {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all 500ms;
    background: #1b1b27;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 

}

.card h2:hover {
    background-color: #262a46;
    flex: 4;
}

.card h2 span {
    min-width: 150%;
    padding: 5px;
    text-align: center;
    transform: rotate(-90deg);
    transition: all 500ms;
    text-transform: uppercase;
}

.card h2:hover span {
    display: none;
}

#card_desc {
    font-weight: 300;
    display: none;
    position: absolute;
    top: 0;
    left: 0; 
    padding: 5px; 
    border-radius: 5px; 
}

.card h2:hover #card_desc {
    display: block; 
    margin: 24px 20px;
    text-align: justify;
}